@model TechOilFrontEnd.Models.Login
@{
    ViewData["Title"] = "Home Page";
    @Html.NameFor(x => x.Email);
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos @ViewBag.Nombre @ViewBag.Apellido a Umsa Softtek</h1>
       

</div>
